body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: white;
}

.profile {
    width: 250px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .profile {
        width: 250px;
        height: auto;
    }
}

.education {
    background-color: rgba(52, 58, 64, 0.05);
    /*
    border-style: dashed;
    border-color: #343a40;
    */
    border-radius: 10px;
    font-size: 20px;
}

.links {
    opacity: 0;
}

.links.show {
    opacity: 1;
    transition: opacity 1.5s ease-in;
    transition-delay: 0.5s;
}

.links.show2 {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 0.5s;
}

/*
.links {
    transition: opacity 1s ease-in;
    transition-delay: 0.5s;
}

.links-hide {
    opacity: 0;
}

.links-show {
    opacity: 1;
}
*/

.element {
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transition-delay: 0.5s;
}

.hide {
    opacity: 0;
    transform: translateY(30px);
    /* transition: opacity 0.5s ease-in, transform 0.5s ease-in; */
}

.element:not(.hide) {
    opacity: 1;
    transform: translateY(0);
}

/*
.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}*/

.education > img {
    width: 100px;
    height: auto;
}

.fs-institution {
    font-size: 20px;
}

.fs-degree {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .education > img {
        width: 75px;
        height: auto;
    }

    .fs-institution {
        font-size: 16px;
    }

    .fs-degree {
        font-size: 12px;
    }
}

.the-image-container {
    width: 100%;
    max-width: 320px;
    background-color: #FCFFF9;
    transition-duration: 0.4s;
}

.the-image-container:hover {
    background-color: #E0E0E0;
    transition-duration: 0.4s;
}

.the-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}